*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: linear-gradient(rgba(141, 54, 54, 0.5), rgba(141, 54, 54, 0.5)), url('./assets/sonbahar.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
  
  /*   
  background: #3494E6;  
  background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  
  background: linear-gradient(to right, #EC6EAD, #3494E6);  */
  
  
}


.top-section{
  margin-top: 200px;
  display: flex;
  justify-content: center;
  width: 100%;
}

/* .title{
  font-size: 60px;
  color: #fff;
  padding-top: 16px;
  padding-bottom: 20px;
  padding-right: 40px;
  padding-left: 40px;

  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  box-shadow: rgba(255, 255, 255, 0.788) 0px 0px 25px 7px;
  } */

.div-input-today{
  display: flex;
  width: 750px;
  margin-right: 200px;
}

.div-input{
  height: max-content;
  display: flex;
  height: 100%;
  align-items: center;
  margin-right: 140px;
}


.cityInput {
  outline: none;
  width: 400px;
  /* box-shadow: inset #ca6fff 0 0 0 2px; */
  border: 0;
  background: rgba(0, 0, 0, 0.5);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding: 0px 12px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  height: 50px;  
  caret-color: #fff;
}
/* .cityInput:hover{
  box-shadow: inset #cb70ff 0 0 0 2px;
}
.cityInput:focus{
  box-shadow: inset #cb70ff 0 0 0 2px;
} */
.cityInput::placeholder{
  color: #f5f5f5ce;
} 

.div-icon{
  background: rgba(0, 0, 0, 0.5);
  height: 50px;  
  display: flex;
  justify-content: center;
  align-items: center;
}

.today-card{
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  width: 180px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.514);
  border-radius: 12px;
  border: 2px solid #fff;
  box-shadow: #fff 0 0 15px 2px;
}

.div-other-days{
  display: flex;
  margin-top: 200px;
  width: 100%;
  justify-content: space-evenly;
}

.other-days{
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  width: 180px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.514);
  border-radius: 12px;
  border: 2px solid #fff;
}

.city-name{
  width: 300px;
  height: 150px;
  font-size: 70px;
  margin-top: 50px;
  color: #ffffff;
  margin-right: 100px;
}