*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.main{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(141, 54, 54, 0.5), rgba(141, 54, 54, 0.5)), url('./assets/sonbahar.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
@media (max-width: 1180px){
  .main{
    align-items: center;
  }
}
@media (max-width: 530px){
  .main{
    background-image: none;
    background: linear-gradient(to bottom, #80cde4 0%, #80cde4 2%, #dff7ff 10%, #dff7ff 100%);
    height: 3000px;
  }
}


.top-section{
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  width: 90%;
}
@media (max-width: 1620px){
  .top-section{
    margin-top: 100px;
  }
}
@media (max-width: 1180px){
  .top-section{
    flex-direction: column;
    align-items: center;
    height: 450px;
    justify-content: space-between;
  }
}


.div-input{
  align-self: center;
  height: max-content;
  display: flex;
  height: 100%;
  align-items: center;
}


.city-input {
  outline: none;
  width: 400px;
  border: 0;
  background: rgba(0, 0, 0, 0.5);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding: 0px 12px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  height: 50px;  
  caret-color: #fff;
}
@media (max-width: 530px) {
  .city-input{
    width: 300px;
  }
}
.city-input::placeholder{
  color: #f5f5f5ce;
} 

.div-icon{
  background: rgba(0, 0, 0, 0.5);
  height: 50px;  
  display: flex;
  justify-content: center;
  align-items: center;
}

.today-card{
  margin-left: 20px;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  width: 220px;
  min-height: 200px;
  background-color: rgba(255, 255, 255, 0.514);
  border-radius: 12px;
  border: 2px solid #fff;
  box-shadow: #fff 0 0 15px 2px;
}
@media (max-width: 1180px) {
  .today-card{
    margin-left: 0;
  }
}
@media (max-width: 530px) {
  .today-card{
    box-shadow: #cecece 0 0 15px 2px;
  }
}

.div-all-other-days{
  height: min-content;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  margin-top: 100px;
  width: 100%;
  gap: 20px;
  padding: 100px 20px;
}
@media (max-width: 1620px) {
  .div-all-other-days{
    grid-template-columns: repeat(4, 1fr);
    row-gap: 50px;
  }
}
@media (max-width: 1180px) {
  .div-all-other-days{
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
  }
}
@media (max-width: 900px) {
  .div-all-other-days{
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
  }
}
@media (max-width: 530px) {
  .div-all-other-days{
    grid-template-columns: repeat(1, 1fr);
    row-gap: 50px;
  }
}

.div-other-days{
  display: flex;
  justify-content: center;
}

.other-days{
  width: 100%;
  max-width: 220px;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.514);
  border-radius: 12px;
  border: 2px solid #fff;
}
@media (max-width: 1620px) {
  .other-days{
    width: 70%;
  }
}
@media (max-width: 530px) {
  .other-days{
    box-shadow: #cecece 0 0 15px 2px;
  }
}
.city-name{
  will-change: filter, opacity;
  min-width: 300px;
  height: 150px;
  font-size: 70px;
  margin-top: 50px;
  color: #ffffff;
  margin-right: 20px;
  margin-left: 30px;
  /* -webkit-animation: text-focus-in 0.4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both; */
	        /* animation: text-focus-in 0.4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both; */
}
@media (max-width: 1180px) {
  .city-name{
    margin-top: 0;
  }
}


@media (max-width: 530px) {
  .cloud {
    background-color: #fff;
    background-image: -webkit-linear-gradient(hsla(0,0%,0%,0), hsla(0,0%,0%,.1));
    border-radius: 1em;
    box-shadow: inset 0 0 0 1px hsla(0,0%,100%,.5);
    display: inline-block;
    height: 1em;
    margin-left: -1.5em;
    position: absolute;
    width: 3em;
    filter: drop-shadow(0 2px 3px hsla(0,0%,0%,.25));
  }
  .cloud:after,
  .cloud:before {
    background-color: #fff;
    content: '';
    border-radius: 100%;
    position: absolute;
  }
  .cloud:after {
    background-image: -webkit-linear-gradient(hsla(0,0%,0%,0) 50%, hsla(0,0%,0%,.025));
    height: 1em;
    right: .4em;
    top: -.5em;
    width: 1em;
  }
  .cloud:before {
    background-image: -webkit-linear-gradient(hsla(0,0%,0%,0) 50%, hsla(0,0%,0%,.075));
    height: 1.6em;
    left: .4em;
    top: -.75em;
    width: 1.6em;
  }  
}

.bg-hills{
  align-self: flex-end;
  height: 200px;
  width: 100%;
  display: none;
  background-image: url('./assets/hill-foto.png');
  background-repeat: no-repeat;
  background-size: cover;
  transition: visibility 0s, opacity 0.5s ease-in-out;
}
@media (max-width:530px){
  .bg-hills{
    display: block;
  }
}
.invisible {
  visibility: hidden;
  opacity: 0;
}
.visible {
  visibility: visible;
  opacity: 1;
}
.arrow{
  display: none;
  position: absolute;
  bottom: 25px
}
@media (max-width:530px){
  .arrow{
    display: block;
  }
}